$axis-legend-width: "75px";

main {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    box-sizing: border-box;

    header {
        h1 {
            margin: 0;
        }

        width: 100%;
        margin-bottom: 3rem;
    }

    section {
        position: relative;

        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 1fr;
    }
}


.grid {
    width: calc(100% + #{$axis-legend-width});

    position: absolute;
    background-color: transparent;

    .line {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: solid 1px;
        background-color: transparent;

        p {
            position: absolute;
            right: 0;
        }
    }
}


.series-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
        margin-top: 0.7rem;
        margin-bottom: 0;
        padding: 0;
    }

    .bars-container {
        position: relative;

        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;

        .bar {
            position: relative;

            border-radius: 3px;
            z-index: 5;
            transition: background-color 0.2s;
            cursor: pointer;

            .bar-label {
                position: absolute;
                top: -75px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 25;
            }    
        }        
    }
}

p {
    margin-block: 0;
}