<main 
    [style.width]="width"
    [style.height]="height"
    [style.padding]="padding"
    [style.background-color]="backgroundColor"
>
    <header>
        <h1
            [style.color]="seriesLabelsColor"
            [style.font-size]="titleFontSize"
            [style.text-align]="titleAlignment"
        >
            {{ title }}
        </h1>
    </header>

    <section
        [style.grid-template-columns]="'repeat('+ series.length + ',' + '1fr)'"
        [style.gap]="seriesGap + 'px'"
    >
        <div 
            class="grid"
            [style.height]="'calc(100% - (0.7rem + ' + seriesFontSize + '))'"
            [style.bottom]="'calc(0.7rem + ' + seriesFontSize + ')'"
        >
            <div class="line"
                *ngFor="let value of _yAxisScale; let i = index;"
                [style.height]="_yAxisHeightMap[i]"
                [style.border-color]="gridColor"
            >
                <p
                    [style.font-size]="seriesFontSize"
                    [style.line-height]="seriesFontSize"
                    [style.top]="'calc(-' + seriesFontSize + '* 1.5)'"
                    [style.color]="seriesLabelsColor"
                >
                    {{ useNumberTrimming ? (value | numbertrim) : value }}
                </p>
            </div>
        </div>
        <ng-container *ngFor="let serie of series; let j = index">
            <div class="series-container">
                <div class="bars-container">
                    <div class="bar" 
                        *ngFor="let row of data; let i = index;"
                        [style.width]="barsWidth"
                        [style.background-color]="_hoverMap.i == i && _hoverMap.j == j && hoverColors && hoverColors[i] ? hoverColors[i] : colors[i]"
                        [style.height]="_barsHeightMap[i][j]"
                        [style.margin-right]="i == data.length - 1 ? '0' : barsGap + 'px'"
                        [style.opacity]="seriesOpacity && seriesOpacity[i] ? seriesOpacity[i] : '0.7'"
                        (mouseover)="_hoverMap.i = i; _hoverMap.j = j;"
                        (mouseleave)="_hoverMap.i = -1; _hoverMap.j = -1;"
                    >
                        <ng-chart-label
                            *ngIf="_hoverMap.i == i && _hoverMap.j == j"
                            class="bar-label"
                            [color]="colors[i]"
                            [series]="labels[i]"
                            [label]="serie"
                            [data]="data[i][j]"
                        ></ng-chart-label>
                    </div>
                </div>
                <p 
                    style="width: 100%;"
                    [style.font-size]="seriesFontSize"
                    [style.line-height]="seriesFontSize"
                    [style.color]="seriesLabelsColor"
                >
                    {{ serie | uppercase }}
                </p>
            </div>
        </ng-container>
    </section>
</main>
