<main [style.width]="width" [style.height]="height" [style.padding]="padding" [style.background-color]="backgroundColor">
    <section
        [style.grid-template-columns]="'repeat('+ series.length + ',' + '1fr)'"
        [style.gap]="seriesGap + 'px'"
    >
        <div 
            class="grid"
            [style.height]="'calc(100% - (0.7rem + ' + seriesFontSize + '))'"
            [style.bottom]="'calc(0.7rem + ' + seriesFontSize + ')'"
        >
            <div class="line"
                *ngFor="let value of _yAxisScale; let i = index;"
                [style.height]="_yAxisHeightMap[i]"
                [style.border-color]="gridColor"
            >
                <p
                    [style.font-size]="seriesFontSize"
                    [style.line-height]="seriesFontSize"
                    [style.top]="'calc(-' + seriesFontSize + '* 1.5)'"
                >
                    {{ value }}
                </p>
            </div>
        </div>
        <ng-container *ngFor="let serie of series; let j = index">
            <div class="series-container">
                <div class="bars-container">

                    <div class="bar" *ngFor="let row of data; let i = index;"
                        [style.width]="barsWidth"
                        [style.background-color]="colors[i]"
                        [style.height]="_barsHeightMap[i][j]"
                        [style.margin-right]="i == data.length - 1 ? '0' : barsGap + 'px'"
                    ></div>
                </div>
                <p 
                    style="width: 100%;"
                    [style.font-size]="seriesFontSize"
                    [style.line-height]="seriesFontSize"
                >
                    {{ serie }}
                </p>
            </div>
        </ng-container>
    </section>
</main>
<!--
                        
                    [style.margin-right]="j == series.length - 1 ? '0' : (seriesGap + ((data.length - 1) * barsGap)) + 'px'"

-->